body{
    /* background-color: bisque; */
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative; /* Essential for z-index and content layering */
    min-height: 100vh;
    overflow-x: hidden;
    background: linear-gradient(-45deg, rgb(249, 191, 120) 20%, #ffffff 100%);
}
body::before {
    content: "";
    position: absolute;
    inset: 0;
    background: inherit;
    filter: blur(8px);
    z-index: -1;
}

/* #video-background {
    position: fixed;
    width: auto;
    height: 125%;
    min-width: 100%;    /* Ensure it's at least 100% of viewport width */
    /* min-height: 100%;  */
    /* z-index: -1; Place the video behind other content */
    /* Optional: blur effect */
    /* filter: blur(5px); */
/* }  */

#welcome-message{
    text-align: center;
    font-family:'Arial Black', Gadget, sans-serif;
    font-weight: bold;
    font-size:5em;
    margin-top:5%;
    animation: welcomePulse 2s infinite;
}
@keyframes welcomePulse {
    0%, 100% {
        transform: scale(1);
        color: #000;
    }
    50% {
        transform: scale(1.1);
        color: #052ae2;
    }
}

.tiles{
    display:flex;
    flex-wrap: wrap;
}

.tiles-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 15vh;
}

.tile{
    background-image: url("./thinks-logo.png");
    background-size: cover;
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(255,0,0,5);
}

.tiles-container:hover{
    transform: scale(1.3);
}

.tile:hover{
    box-shadow: 0 6px 12px rgba(0,0,255,5);
}

.tile-label{
    font-size:x-large;
    font-family: 'Arial Black', Gadget, sans-serif;
}

#taptaptapstile{
    background-image: url("./ttt.png");
}

#bar{
    bottom: 0% ;
    position: fixed;
    background-color: rgb(87, 87, 87);
    opacity: 0.5;
    color: white;
    width: 100%;
    height: 15%;
    font-family: 'Arial Black', Gadget, sans-serif;
    text-align: left;
}

#bar:hover{
    opacity: 1;
}

#bar img{
    margin-top:20px;
    margin-bottom: 2%;
    margin-left: 1%;
    
    width:10vh;
    height: 10vh;
}

#bar img:hover{
   transform: scale(1.1);
   transition: transform 0.3s ease-in-out;
}

#bar label{
    top: 0px;
    position: absolute;
}

.consent-button{
    border-radius: 2em;
    width: 120px;
    height: 40px;
    background-color: #0219ac;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 14px;
}

@media screen and (max-width:600px){ 
    body{
        width:100%;
        overflow-x: hidden;
    }
    #welcome-message{
        margin-top: 20%;
        font-size: 3em;
    }
    #tiles-container{
        width: auto;
    }
}
@media screen and (max-width:700px){ 
    body{
        width:100%;
        overflow-x: hidden;
    }
    #welcome-message{
        margin-top: 20%;
        font-size: 3em;
    }
    #tiles-container{
        width: auto;
    }
}